@import "../../assets/styles/colors";
@import "../../assets/styles/breakpoint";
@import "../../assets/styles/typography";

.my-button {
  //ignore default style of button
  background: none;
  border: none;
  font: inherit;
  outline: inherit;

  width: $fullWidth;
  background-color: $bazzar;
  border-radius: 12px;
  font-family: "Avenir Next LT Pro";
  font-style: normal;
  font-weight: 400;
  color: $white;
  padding: 15px 0;
  justify-content: center;
  flex: 1;
  cursor: pointer;
  transition: 0.1s linear;

  &:hover {
    background-color: $deepTaupe;
  }

  &:active {
    background-color: $roseEbony;
  }
}

.disabled-button {
  background-color: $darkGrayish;
  color: $white;
  cursor: unset;

  &:hover {
    background-color: $darkGrayish;
  }

  &:active {
    background-color: $darkGrayish;
  }
}
