@import "../../../assets/styles/colors";
@import "../../../assets/styles/breakpoint";
@import "../../../assets/styles/typography";

.projects {
  margin: 0 auto;
  color: $roseEbony;

  @include desktop {
    max-width: 1050px;
    margin-top: 96px;
  }

  @include tablet {
    max-width: 616px;
    margin-top: 64px;
  }

  @include mobile {
    max-width: 300px;
    margin-top: 36px;
  }

  .content {
    display: flex;
    flex-direction: column;

    .title {
      font-family: "MAZIUS REVIEW 20.09";
      font-weight: 400;
      text-align: center;

      @include desktop-child {
        font-size: 36px;
        line-height: 43.2px;
      }

      @include tablet-child {
        font-size: 32px;
        line-height: 38.4px;
      }

      @include mobile-child {
        font-size: 20px;
        line-height: 24px;
      }
    }

    .description {
      text-align: center;
      font-family: "Avenir Next LT Pro";
      font-style: normal;
      font-weight: 400;

      @include desktop-child {
        font-size: 20px;
        line-height: 24px;
        margin-top: 16px;
      }

      @include tablet-child {
        font-size: 16px;
        line-height: 19px;
        margin-top: 12px;
      }

      @include mobile-child {
        font-size: 14px;
        line-height: 17px;
        margin-top: 18px;
      }
    }

    .list {
      display: flex;
      flex-direction: column;

      @include desktop-child {
        margin-top: 40px;
        gap: 24px;
      }

      @include tablet-child {
        margin-top: 21px;
        gap: 20px;
      }

      @include mobile-child {
        margin-top: 16px;
        gap: 4px;
      }

      .item {
        @include desktop-child {
          gap: 21px;
        }

        @include tablet-child {
          gap: 21px;
        }

        @include mobile-child {
          gap: 4px;
        }
      }
    }
  }
}
