@import "../../../assets/styles/colors";
@import "../../../assets/styles/breakpoint";
@import "../../../assets/styles/typography";

.welcomeBanner {
  background-color: $white;
  border: 1px solid $bazzar;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 41px;
  color: $roseEbony;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @include desktop {
    max-width: 1050px;
    padding: 95px;
    gap: 18px;
  }

  @include tablet {
    max-width: 616px;
    padding: 70px;
    gap: 12px;
  }

  @include mobile {
    max-width: 300px;
    padding: 32px;
    gap: 16px;
  }

  .title {
    font-family: "MAZIUS REVIEW 20.09";
    font-weight: 400;

    @include desktop-child {
      font-size: 36px;
      line-height: 43.2px;
    }

    @include tablet-child {
      font-size: 36px;
      line-height: 43.2px;
    }

    @include mobile-child {
      font-size: 28px;
      line-height: 33.6px;
    }
  }

  .description {
    @include desktop-child {
      @include para-1;
    }

    @include tablet-child {
      @include para-1;
    }

    @include mobile-child {
      @include para-3;
    }
  }

  .icon-wrapper {
    display: flex;

    .svg-wrapper {
      width: 45px;
      height: 45px;
      display: flex;

      img {
        cursor: pointer;
        margin: auto;
      }
    }

    @include desktop-child {
      gap: 20px;
    }

    @include tablet-child {
      gap: 20px;
    }

    @include mobile-child {
      gap: 16px;
    }
  }
}
