@import "../../../assets/styles/colors";
@import "../../../assets/styles/breakpoint";
@import "../../../assets/styles/typography";

.hobbies {
  margin: 0 auto;
  color: $roseEbony;

  @include desktop {
    max-width: 1050px;
    margin-top: 96px;
  }

  @include tablet {
    max-width: 616px;
    margin-top: 64px;
  }

  @include mobile {
    max-width: 300px;
    margin-top: 36px;
  }

  .title {
    font-family: "MAZIUS REVIEW 20.09";
    font-weight: 400;
    text-align: center;

    @include desktop-child {
      font-size: 36px;
      line-height: 43.2px;
    }

    @include tablet-child {
      font-size: 32px;
      line-height: 38.4px;
    }

    @include mobile-child {
      font-size: 20px;
      line-height: 24px;
    }
  }

  .content {
    @include desktop-child {
      margin-top: 16px;
      gap: 64px;
    }

    @include tablet-child {
      margin-top: 12px;
      gap: 22px;
    }

    @include mobile-child {
      margin-top: 8px;
      gap: 16px;
    }

    img {
      @include mobile-child {
        width: 60px;
      }
    }
  }
}
