@import "../../assets/styles/colors";
@import "../../assets/styles/breakpoint";
@import "../../assets/styles/typography";

.checkbox {
  align-items: center;

  input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 2px solid $bazzar;
    border-radius: 4px;
    background-color: #ffffff;
    margin: 0;
    margin-right: 7px;
    cursor: pointer;

    &:hover {
      border-color: $roseEbony;
    }

    &:checked {
      background-image: url(../../assets/svg/tick.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto;
    }

    &:focus {
      outline: none !important;
    }
  }

  label {
    @include para-2;
    color: $bazzar;

    cursor: pointer;
  }
}
