@import "assets/styles/colors";
@import "assets/styles/grid";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next LT Pro",
    "Mazius Review 20.09", "Neutral Face", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $oldLace;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Avenir Next LT Pro";
  src: url(./assets/fonts/AvenirNextLTPro/AvenirNextLTProRegular.otf)
    format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next LT Pro";
  src: url(./assets/fonts/AvenirNextLTPro/AvenirNextLTProDemi.otf)
    format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next LT Pro";
  src: url(./assets/fonts/AvenirNextLTPro/AvenirNextLTProBold.otf)
    format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Mazius Review 20.09";
  src: url(./assets/fonts/MaziusReview2009/MAZIUSREVIEW20.09Regular400.otf)
    format("opentype");
}

@font-face {
  font-family: "Neutral Face";
  src: url(./assets/fonts/NeutralFace/NeutralFace.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Neutral Face";
  src: url(./assets/fonts/NeutralFace/NeutralFace-Bold.otf) format("opentype");
  font-weight: 600;
  font-style: normal;
}
