$mobile-breakpoint: 630px;
$tablet-breakpoint: 1050px;

$fullWidth: 100%;
$desktopMaxWidth: 1260px;
$tabletMaxWidth: 744px;
$mobileMaxWidth: 360px;

@mixin desktop {
  @media (min-width: #{$tablet-breakpoint + 1px}) {
    max-width: $desktopMaxWidth;
    width: $fullWidth;

    @content;
  }
}

@mixin tablet {
  @media ((min-width: #{$mobile-breakpoint + 1px}) and (max-width: #{$tablet-breakpoint})) {
    max-width: $tabletMaxWidth;
    width: $fullWidth;

    @content;
  }
}

@mixin mobile {
  @media ((max-width: #{$mobile-breakpoint})) {
    max-width: $mobileMaxWidth;
    width: $fullWidth;

    @content;
  }
}

@mixin desktop-child {
  @media (min-width: #{$tablet-breakpoint + 1px}) {
    @content;
  }
}

@mixin tablet-child {
  @media ((min-width: #{$mobile-breakpoint + 1px}) and (max-width: #{$tablet-breakpoint})) {
    @content;
  }
}

@mixin mobile-child {
  @media ((max-width: #{$mobile-breakpoint})) {
    @content;
  }
}
