@import "../../assets/styles/colors";
@import "../../assets/styles/breakpoint";

.portfolio {
  margin: 0 auto;

  @include desktop {
    padding: 96px 0 186px;
  }

  @include tablet {
    padding: 64px 054px;
  }

  @include mobile {
    padding: 36px 0 126px;
  }
}
